In [5]:
import pandas as pd

df = pd.read_csv('2015_Street_Tree_Census_-_Tree_Data.csv')

In [6]:
df.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [9]:
df_small = df[['tree_id', 'status', 'health', 'spc_common', 'latitude', 'longitude']]
df_small.head()

   tree_id status health       spc_common   latitude  longitude
0   180683  Alive   Fair        red maple  40.723092 -73.844215
1   200540  Alive   Fair          pin oak  40.794111 -73.818679
2   204026  Alive   Good      honeylocust  40.717581 -73.936608
3   204337  Alive   Good      honeylocust  40.713537 -73.934456
4   189565  Alive   Good  American linden  40.666778 -73.975979

In [10]:
df_small.to_csv('df_small.csv')